* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html { font-size: 62.5%; }

@font-face {
  font-family: 'cantarell';
  src: url('../fonts/cantarell_bold/Cantarell-Bold-webfont.eot');
  src: url('../fonts/cantarell_bold/Cantarell-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cantarell_bold/Cantarell-Bold-webfont.woff') format('woff'),
    url('../fonts/cantarell_bold/Cantarell-Bold-webfont.ttf') format('truetype'),
    url('../fonts/cantarell_bold/Cantarell-Bold-webfont.svg#cantarellbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'cantarell';
  src: url('../fonts/cantarell_boldoblique/Cantarell-BoldOblique-webfont.eot');
  src: url('../fonts/cantarell_boldoblique/Cantarell-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cantarell_boldoblique/Cantarell-BoldOblique-webfont.woff') format('woff'),
    url('../fonts/cantarell_boldoblique/Cantarell-BoldOblique-webfont.ttf') format('truetype'),
    url('../fonts/cantarell_boldoblique/Cantarell-BoldOblique-webfont.svg#cantarellboldoblique') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'cantarell';
  src: url('../fonts/cantarell_oblique/Cantarell-Oblique-webfont.eot');
  src: url('../fonts/cantarell_oblique/Cantarell-Oblique-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cantarell_oblique/Cantarell-Oblique-webfont.woff') format('woff'),
    url('../fonts/cantarell_oblique/Cantarell-Oblique-webfont.ttf') format('truetype'),
    url('../fonts/cantarell_oblique/Cantarell-Oblique-webfont.svg#cantarelloblique') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'cantarell';
  src: url('../fonts/cantarell_regular/Cantarell-Regular-webfont.eot');
  src: url('../fonts/cantarell_regular/Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cantarell_regular/Cantarell-Regular-webfont.woff') format('woff'),
    url('../fonts/cantarell_regular/Cantarell-Regular-webfont.ttf') format('truetype'),
    url('../fonts/cantarell_regular/Cantarell-Regular-webfont.svg#cantarellregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  color: #5c5c5c;
  font-family: cantarell, sans-serif;
  font-size: 1.6em;
}

h1 {
  font-size: 4.4rem;
  text-align: left;
  margin-bottom: 20px;
}

h2 {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 20px;
}

img {
  border-radius: 6px;
  border: 1px solid whitesmoke;
  display: block;
  height: auto;
  max-width: 100%;
  box-shadow:0 0 5px rgba(0,0,0,0.5);
}

li { padding-bottom: 3px; }

a {
  color: cornflowerblue;
  text-decoration: none;
  font-weight: bold;
  transition: all .4s ease-out;
}

a:hover { text-decoration: underline; color: orange; }

.container {
  overflow: hidden;
  margin: 0 auto;
  width: 80%;
}

.head {
  float: left;
  margin-bottom: 25px;
  padding: 20px 15px;
  width: 80%;
}

.head p {
  font-size: 2.8rem;
  font-style: italic;
  margin-top: 20px;
  text-align: center;
}

.avatar {
  border-radius: 6px;
  float: right;
  width: 20%;
  margin-top: 20px;
}

.wrap {
  margin-bottom: 20px;
  padding: 15px;
  padding-top: 0;
  overflow: hidden;
  width: 80%;
}

.content {
  margin: 0 auto;
  text-align: justify;
  width: 85%;
}

footer p {
  text-align: center;
  padding: 20px 0;
}